.header{
    background-color:rgb(12, 104, 12);
    color: black;
    font-size: 60px;
    height: 175px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header, h2 {
    padding-top: 25px;
}